.config/nvim/plugin
.config/nvim/lazy-lock.json

.config/emacs/elpa
.config/emacs/emacs-banner.txt
.config/emacs/backup
.config/emacs/auto-save-list
.config/emacs/bookmarks
.config/emacs/*.el
.config/emacs/*.eld
.config/emacs/session*
.config/emacs/var
.config/emacs/eshell
.config/emacs/recentf
.config/emacs/transient
.config/emacs/request
.config/emacs/.*

.config/tmux/plugins

.vim/autoload/
.vim/.netrwhist
