* {
    font-family: Ubuntu Nerd Font;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    /* background-color: #050505; */
    /* background-color: rgba(07, 33, 63, 0.4); */

    color: #eeeeee;

    transition-property: background-color;
    transition-duration: 0.5s;
}

.modules-left,
#mpris,
.modules-right {
    background-color: #011627;
    padding: 0px 9px;
}

.modules-left{
    border-radius: 0px 10px 10px 10px;
}

#mpris{
    border-radius: 10px;
    padding: 0 8px;
    color: #eeeeee;
}

.modules-right{
    border-radius: 10px 0px 10px 10px;
}

#workspaces button {
    padding: 0 2px;
    color: #6a92d7;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    color: #89DDFF;
    box-shadow: inset 0 -2px #89DDFF;
}

#workspaces button.urgent {
    background-color: #bb0000;
}

/* #window, */
#workspaces {
    margin: 0 14px;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#language,
#bluetooth,
#custom-power,
#custom-lock {
    padding: 0 4px;
    color: #eeeeee;
}

#cpu,
#memory,
#temperature {
    /* color: #fb958b; */
    /* color: #ebcb8b; */
    color: #f0932b;
    padding: 0 4px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#battery,
#clock {
    color: #c8d2e0;
}

#pulseaudio,
#backlight,
#bluetooth {
    color: #7d9bba;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: #26a65b;
}

@keyframes blink {
to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
}
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#bluetooth.disconnected {
    color: #f53c3c;
}

#network {
    color: #b48ead;
    padding: 0px 9px 0px 7px;
}

#network.disconnected {
    color: #f53c3c;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    color: #00b093;
    padding: 0 5px;
    min-width: 16px;
}
