* {
    background-image: none;
    box-shadow: none;
}

window {
    font-family: Ubuntu;
    font-size: 16pt;
    color: #FFFFFF;
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    border-radius: 36px;
    margin: 10px;
}

button:focus, button:active, button:hover {
    background-color: #3700B3;
    outline-style: none;
    background-size: 16%;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
