*{
    //all:unset;
    font-family: 'Ubuntu Regular';
    color: #A7DBF7;
    font-size: 11pt;
}

.bar {
    background-color: transparent;
}

.main-container {
    padding:6px 12px;
    background-color: #011627;
    opacity: 0.75;
    //border-style: solid;
    //border-width: 2px;
    //border-color: #00E1FF;
    border-radius: 14px;
    margin: 5px 10px 0 10px;
}

.workspaces {
    background: transparent;
}

.time {
    background: transparent;
}

.systray {
    background: transparent;
    //padding-right: 8px;
}
